[class*=sax-] * {
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	border: 0;
    vertical-align: baseline;
    line-height: 2em;
}

/* 
Welcome popup
*/

#sax-welcome {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 400px;
    display: flex;
    background-color: black;
    padding: 1em;
    flex-direction: column;
    border-radius: 0.6em;
    z-index: 99999999999999999999999 !important;
    box-shadow: 3px 3px 60px rgb(89, 89, 89);
    font-size: 1em;
}

#sax-welcome-text-title {
    font-size: 14pt;
    color: white;
    font-weight: bold;
    text-transform: none;
    transition: none;
}


#sax-welcome-text-opensource {
    color: pink;
    font-size: 11pt;
}

#sax-welcome-text-opensource-link {
    font-size: 11pt;
    color: rgb(170, 192, 255);
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    transition: none;
}

#sax-welcome-text-opensource-link:hover {
    opacity: 0.8;
    background: none;
    text-transform: none;
    transition: none;
}

#sax-welcome-text-body {
    color: #fafafa;
    font-size: 13pt;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: none;
    transition: none;
}

#sax-welcome-icon {
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: none;
}

#sax-keyboard-shortcut {
    color: rgb(201, 201, 201);
    background-color:  rgb(201, 201, 201, 0.2);
    padding: 0.2em;
    border: 1px solid #6f6f6f8e;
    border-radius: 4px;
    font-family: monospace, monospace;
    font-weight: normal;
}

#sax-welcome-text-body-feedback-link {
    font-size: 13pt;
    color: rgb(170, 192, 255);
    font-weight: normal;
    text-transform: none;
    transition: none;
}

#sax-welcome-text-body-feedback-link:hover {
    opacity: 0.8;
    background: none;
    text-transform: none;
    transition: none;
}

#sax-welcome-close  {
    align-self: flex-end;
    font-size: 12pt;
    margin: 1em 0 0 0;
    padding: 0;
    width: auto;
    color: #bababa;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sax-welcome-close:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    background: none;
    text-transform: none;
    transition: none;
}

.sax-show {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.sax-hide {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}

.sax-progress {
    height: 4px;
    display: block;
    margin: 0 4px;
    width: 100%;
    position: relative;
}

.sax-progress-outer {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(56, 94, 60);
    border-radius: 4px;
}

.sax-progress-inner {
    position: absolute;
    display: block;
    height: 100%;
    background-color: rgb(38, 184, 72);
    border-radius: 4px;
    transition: width 500ms ease-in-out;
}

#sax-info-box-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    align-self: center;
    margin-right: 0.3em;
    display: inline-block;
}

#sax-info-box {
    position: fixed;
    top: 2em;
    right: 2em;
    width: auto;  
    z-index: 99999999999999999999999 !important; /* I know, I'm sorry... */
    display: flex;
    flex-direction: column;
    background: none;
}

#sax-info-box-top {
    width: fit-content;
    align-self: flex-end;
    border-radius: 3em;
    padding: 0.3em 1.5em 0.5em 1.5em;
    color: white;
    background-color: black;
    font-style: normal;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    box-shadow: 3px 3px 60px rgba(89, 89, 89, 0.814);
    display: flex;
    flex-direction: column;
}

#sax-info-box-top-content {
    display: flex;
    flex-direction: row;
    background: none;
}

#sax-info-box-bottom {
    width: fit-content;
    align-self: flex-end;
    margin-top: 15px;
    border-radius: 2em;
    padding: 0.2em 1em 0.2em 1em;
    color: black;
    background-color: white;
    font-style: normal;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    box-shadow: 3px 3px 60px rgba(89, 89, 89, 0.745);
    display: flex;
    flex-direction: column;
}

#sax-info-box-bottom-content {
    display: flex;
    flex-direction: row;
    background: none;
}

#sax-label {
    display: inline-block;
}

#sax-label-secondary {
    font-size: 10pt;
    padding-left: 0.2em;
    color: #bababa;
}

#sax-label-primary {
    font-size: 10pt;
    padding-left: 0.2em;
    font-weight: bold;
    color: #FFFFFF;
}

#sax-label-small-primary {
    font-size: 8pt;
    padding-left: 0.2em;
    color: #bababa;
}

#sax-label-small-secondary {
    font-size: 8pt;
    padding-left: 0.2em;
    color: #959595;
}

#sax-list-url {
    font-size: 8pt;
    padding-left: 0.2em;
    color: #6d8bca;
}

#sax-list-url :hover {
    font-size: 8pt;
    padding-left: 0.2em;
    color: #ca976d;
}